* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Add styles here! */

main {
  /* background-color: hsl(0deg, 0%, 40%); */
}

.max-width-wrapper {
  width: 800px;
  margin: 0 auto;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk {
  max-width: 415px;
  padding-top: 96px;
  padding-bottom: 64px;
}
